<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE3 - CDN</title>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script type="module" src="main.js"></script>
</head>
<body>
    <section id="app">
		<h1>{{ title }}</h1>
    </section>
</body>
</html>